<p id="notice"><%= notice %></p>

<div class="form-group row">
    <h2 class="col-md-10">Filmes</h2>
    <%= link_to new_movie_path do %>
      <span class="fas fa-plus icon pull-right"></span>
    <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="name-column">Nome</th>
      <th>Descrição</th>
      <th>Thumbnail</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="name-column"><%= movie.name %></td>
        <td><%= movie.description %></td>
        <td><%= image_tag movie.img_url, :alt => movie.img_url, class: "thumbnail" %></td>
        <td><%= link_to '', movie, class: "far fa-eye" %></td>
        <td><%= link_to '', edit_movie_path(movie), class: "far fa-edit" %></td>
        <td><%= link_to '', movie, method: :delete, data: { confirm: 'Deseja mesmo deletar este filme?' }, class: "fas fa-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>