<p id="notice"><%= notice %></p>

<div class="col-md-12 card">  
  <div class="form-group row">
    <div class="col-md-8">
      <h2>
        <strong><%= @movie.name %></strong>
      </h2>
      
      <br><br>
      
      <p>
        <strong>Descrição:</strong>
        <%= @movie.description %>
      </p>
    </div>
    
    <div class="col-md-4">
      <%= image_tag @movie.img_url, :alt => @movie.img_url, class: "cover" %>    
    </div>
  </div>
</div>
<br>
<%= link_to 'Editar', edit_movie_path(@movie), class: "btn btn-primary" %>
<%= link_to 'Voltar', movies_path, class: "btn btn-danger" %>