<%= form_with(model: filme, local: true) do |form| %>
  <% if filme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filme.errors.count, "error") %> prohibited this filme from being saved:</h2>

      <ul>
      <% filme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br><br>
  <div class="form-horizontal">
    <div class="form-group row">
      <%= form.label :nome, class: "col-md-2 col-form-label text-right" %>
      <div class="col-md-10">
        <%= form.text_field :nome, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :descricao, class: "col-md-2 col-form-label text-right" %>
      <div class="col-md-10">
      <%= form.text_area :descricao, { class: "form-control", style: "height: 200px;" } %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :url_capa, class: "col-md-2 col-form-label text-right" %>
      <div class="col-md-10">
        <%= form.text_field :url_capa, class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <%= form.submit "Salvar", class: "col-md-2 btn btn-primary" %>
        <%= link_to 'Voltar', filmes_path, class: "col-md-2 btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
